ControlPointXML1/index.dtd

    <!ELEMENT timeTable (complexes, lessons)>
    <!ELEMENT complexes (complex+)>
    <!ELEMENT lessons (lesson+)>
    <!ELEMENT complex (name, address)>
    <!ELEMENT lesson (date, time)>

    <!ELEMENT name (#PCDATA)>
    <!ELEMENT address (#PCDATA)>

    <!ATTLIST complex Code ID #REQUIRED>
    <!ATTLIST lesson 
        no CDATA #REQUIRED
        complex IDREF #REQUIRED>

    