AnotherXmlProject/complex.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="PersonType">
        <xs:sequence>
            <xs:element name="Фамилия" type='xs:string'/>
            <xs:element name="Имя" type='xs:string'/>
            <xs:element name="Возраст" type='xs:int'/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="EmployeeType">
        <xs:complexContent>
            <xs:extension base="PersonType">
                <xs:sequence>
                    <xs:element name="Отдел" type="xs:string"/>
                </xs:sequence>
                <xs:attribute name="вОтпуске" type='xs:boolean'/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="Метро">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ПростойЧеловек" type="PersonType"/>
                <xs:element name="СотрудникМетрополитена" type="EmployeeType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>